body {
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 5%, rgba(144, 228, 250, 1) 40%, rgba(35, 201, 245, 1) 80%, rgba(105, 229, 255, 1) 100%);
    font-family: 'Jockey One','AR One Sans', 'Varela Round', sans-serif;
    font-size: 1rem;
}

h2 {
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 15px;
}

#section-one img {
    padding-top: 30px;
    animation: moveAround 4s linear infinite;
}

#section-one, #section-two, #section-three{
    min-height: 33vh;
    text-align: center;
}

.button-modal {
    border-radius: 30px;
    border: 1px solid black;
    background-color: #ffffff;
    color: #000;
    /*font-weight: 700;*/
    font-size: 1.5rem;
    max-width: 200px;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

#login-modal button[type="submit"] {
    font-size: 1rem;
}

#login-modal button[type="reset"] {
    font-size: 1rem;
}

#login-modal-label,
#high-scores-modal-label,
#info-modal-label,
#info-modal-label-panel {
    font-size: 1.5rem;
}


.button-modal:hover {
    background-color: #3f464c;
    color: #fff;
}

#button-info:hover {
    background-color: #CA87CF;
    color: black;
}

#button-login:hover {
    background-color: #E64040;
    color: black;
}

#button-high-scores:hover {
    background-color: #88a511;
    color: black;
}

.modal-title {
    font-weight: bolder;
    text-align: center;
}

.modal-content {
    border-radius: 20px;
}

.modal-body {
    font-weight: lighter;
    font-size: 1rem;
    font-family: 'AR One Sans', 'Varela Round', 'Jockey One', sans-serif;
}

.data-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
    font-family: 'AR One Sans', 'Varela Round', 'Jockey One', sans-serif;
}


.error {
    color: #f00;
    display: block;
}

small {
    display: block;
    min-height: 1.5rem;
    margin-left: 0.5rem;
}

#alert-container {
    background-color: #fff;
    padding: 20px;
    color: #000;
    font-weight: bolder;
    border-radius: 30px;
    border: 1px solid black;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);

}

/* potential accent colors*/
/*.dataTable tbody tr:hover {*/
/*    background-color: #fdbeff;*/
/*    background-color: #D9BCF2;*/
/*}*/


/*logo image animation*/
@keyframes moveAround {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
}




